{% extends "crmapp/base.html" %}

{% block content %}

    <body>

    <br>
    <br>

    <div class="text-center">

        <h3>Manage with the best CRM tool ever!</h3>
        <br>

        <h5>A stabilized system for tracking the customer records for increased
        productivity and time management.</h5>
        
        <hr>
        <br>
        
        <a class="btn btn-primary" type="button" href="{% url 'register' %}"> Create your account &nbsp; <i class="fa fa-user-plus" aria-hidden="true"></i> </a>
    
    </div>

    </body>

{% endblock %}
