{% extends "crmapp/base.html" %}

{% load crispy_forms_tags %}

{% block content %}

    <body>
        <div class="container resp-container bg-primary-subtle shadow-md p-5 form-layout">
        
            <h3> Update record </h3>
            <br>
            <h6> Update your record down below. </h6>
            <hr>
            <br>

            <form method="POST" autocomplete="off">
                
                {% csrf_token %}

                {{form.first_name|as_crispy_field}}
                <br>
                {{form.last_name|as_crispy_field}}
                <br>
                {{form.email|as_crispy_field}}
                <br>
                {{form.phone|as_crispy_field}}
                <br>
                {{form.address|as_crispy_field}}
                <br>
                {{form.city|as_crispy_field}}
                <br>
                {{form.district|as_crispy_field}}
                <br>
                {{form.country|as_crispy_field}}
                <br>

                <button type="submit" class="btn btn-primary w-100 btn-block p-2">
                    Save &nbsp; <i class="fa fa-floppy-o" aria-hidden="true"></i>
                </button>

            </form>
        </div>
    </body>

{% endblock %}
