{% extends "crmapp/base.html" %}

{% block content %}

    <style>

        .card-text {
            font-family: Arial, sans-serif;
        }   

    </style>
    
    <div class="container mt-3">
        <h1 class="text-center mb-4">About ProjectCRM</h1>
        <hr class="my-4">

        <div class="row mt-4">
            <div class="col-md-6">
                <div class="card shadow-sm mb-4" style="min-height: 285px;">
                    <div class="card-body">
                        <h2 class="card-title">Our Mission</h2>
                        <hr>
                        <p class="card-text">
                            At ProjectCRM, our mission is to provide businesses with an intuitive and efficient tool for managing customer relationships. We believe that effective communication and organization can lead to increased productivity and business growth.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6"> 
                <div class="card shadow-sm mb-4">
                    <div class="card-body">
                        <h2 class="card-title">What We Offer</h2>
                        <hr>
                        <div class="custom-list">
                            <div class="custom-list-item">User-friendly interface for easy navigation.</div>
                            <div class="custom-list-item">Efficient record-keeping to track customer interactions.</div>
                            <div class="custom-list-item">Customizable features to meet individual business needs.</div>
                        </div>
                    </div>
                </div>
            </div>            
        </div>

        <div class="row mt-4">
            <div class="col-md-12">
                <div class="card shadow-sm mb-4">
                    <div class="card-body">
                        <h2 class="card-title">Why Choose Us?</h2>
                        <hr>
                        <p class="card-text">
                            Our CRM solution is designed for businesses of all sizes. With our tool, you can streamline your processes, enhance customer satisfaction, and ultimately drive sales. Join us in transforming the way you manage your customer relationships.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row mt-4">
            <div class="col-md-12">
                <div class="card shadow-sm mb-4">
                    <div class="card-body">
                        <h2 class="card-title">Get in Touch</h2>
                        <hr>
                        <p class="card-text">
                            If you have any questions or would like to learn more about ProjectCRM, feel free to <a href="mailto:mert_caliskan34@hotmail.com">contact us</a>.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
