{% extends "crmapp/base.html" %}

{% block content %}

    <h4> Here are your products! </h4>
    <hr>

    <a class="btn btn-outline-primary btn-md" href="{% url 'add-product' %}">
        Add a new product &nbsp; <i class="fa fa-plus" aria-hidden="true"></i>
    </a>
    <hr>

    <div class="table-responsive">

        <table class="table table-hover table-bordered">

            <thead class="table-dark">

                <tr>
                    <th scope ="col"> Product name </th>
                    <th scope ="col"> Price </th>
                    <th scope ="col"> Description </th>
                    <th scope ="col"> Date created </th>
                    <th scope="col"> View </th>
                </tr>

            </thead>

            <tbody>

            {% if products %}

                {% for product in products %}
                
                <tr>
                    <td> {{product.name}} </td>
                    <td> {{product.price}} </td>
                    <td> {{product.description}} </td>
                    <td> {{product.creation_date}} </td>
                    <td> <a href="{% url 'product' product.id %}" class="btn btn-success"> <i class="fa fa-eye" aria-hidden="true"></i> </a> </td>
                </tr>

                {% endfor %}

            {% endif %}

            </tbody>

        </table>

    </div>
    <hr>

{% endblock %}